{% extends 'carapp/layout/base.html' %}
{% load static %}
{% block content %}


<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('{% static 'images/bg_10.jpg' %}');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
     <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
        <div class="col-md-9 ftco-animate pb-5">
           <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">Home <i class="ion-ios-arrow-forward"></i></a></span> 
           </p></div></div></div></section>
           <h1>Add Payment</h1>
           <form method="post">
               {% csrf_token %}
               {{ form.as_p }}
               <button type="submit">Submit</button>
           </form>
           <h1>Payments</h1>
           <ul>
               {% for payment in payments %}
                   <li>{{ payment.booking }} - {{ payment.amount }} - {{ payment.status }} - {{ payment.payment_date }}</li>
               {% endfor %}
           </ul>
           <a href="{% url 'payment' %}">Add Payment</a>

        </div></div>
{% endblock %} 